import React from 'react'
import { css } from '@emotion/core';

/* Component-specific imports */

/* Component definition */

type Props = {}

const {{asReactComponent name}}: React.FC<Props> = props => {

    return (
        <div data-testid="{{asReactComponent name}}" className="{{asReactComponent name}}">
            {{asReactComponent name}} works!
        </div> 
    )
}

export default {{asReactComponent name}}